.logo-half {
  height: 141px;
  object-fit: contain;
}

.conversation-textarea {
  width: 100%;
  max-width: 90%;
  resize: none;
  min-height: 80px;
  field-sizing: content;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}

.select-model-width {
  max-width: 250px;
}

#latency-data {
  font-family: var(--bs-font-monospace);
}

.strutis-logo {
  height: 1.25rem;
  width: auto;
}
